<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened>
        <mat-nav-list>
            <a mat-list-item [routerLink]="'./dashboard/'" routerLinkActive="active">
                <span mat-line>Dashboard</span>
            </a>
            <a mat-list-item [routerLink]="'./profile/'" routerLinkActive="active">
                <span mat-line>Profile</span>
            </a>
            <a mat-list-item [routerLink]="'./inbox/'" routerLinkActive="active">
                <span mat-line>Inbox</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div style="min-height: 80vh;">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>

