<mat-toolbar color="primary">
    <mat-toolbar-row fxLayoutAlign="space-between center">
        <span>Inbox</span>
        <button mat-raised-button color="accent" (click)=openDialog()>
            New message
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-accordion>
    <mat-expansion-panel *ngFor='let message of messages; index as i;'>
        <mat-expansion-panel-header>
            <mat-panel-description fxLayoutAlign="space-between center">
               {{ message | slice:0:50}}
            </mat-panel-description>
            <button mat-icon-button color='warn' (click)='delete(message, i)' aria-label="delete">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-expansion-panel-header>
        <p>{{ message }}</p>
    </mat-expansion-panel>
</mat-accordion>