<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div>Profile</div>
    </mat-toolbar-row>
</mat-toolbar>
<div fxLayout="column" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-title>User profile</mat-card-title>

        <div fxLayout="column">

            <form [formGroup]="profileForm" (ngSubmit)="updateProfile()" fxLayout="column" fxFlexFill fxLayoutGap="10px">
                <div class="empty-row"></div>

                <formly-form [form]="profileForm" [fields]="fields" [options]="options" [model]="model"></formly-form>

                <button *ngIf='!isEditable' mat-raised-button color="primary" (click)='editProfile()' aria-label="edit">Edit</button>
                <button *ngIf='isEditable' mat-raised-button color="accent" type="submit" aria-label="reupdate">Update Profile</button>
                <button *ngIf='isEditable' mat-raised-button color="warn" (click)='cancelEditingProfile()' aria-label="cancel">Cancel</button>                
            </form>

        </div>
    </mat-card>
</div>